.pagination div[class^="swiper-button"]::after{
    display: none
}   
.cad{
    position: relative;
    width: 450px;
    height: 220px;
}
.cad .liner{
    position: absolute;
    inset: 0;
    width: 400px;
    background: black;
    overflow: hidden;
}
.cad .liner::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.5s;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent,rgb(245, 15, 15),rgb(237, 56, 46),transparent);
    animation: puter 3s linear infinite;
}
.cad .liner::after{
    content: '';
    border-radius:5px; 
    position: absolute;
    inset: 3px;
    background: linear-gradient(to right,rgb(16, 0, 0),rgb(70, 4, 14));
}
@keyframes puter{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}